<div class="fighting-display-container">
    <div class="fighting-display fighting-display-container__fighting-display">
        <div class="threat-card-container fighting-display__threat-card-container">            
            <app-threat-display [threatCard]="currentThreatCard"></app-threat-display>
        </div>
        <div class="player-container fighting-display__player-container">
            <app-player-display></app-player-display>
        </div>
        <div class="ability-cards-display fighting-display__ability-cards-display">
            <app-cards-display></app-cards-display>
        </div>           
        <div class="player-controls-container fighting-display__player-controls-container">            
            <app-player-controls></app-player-controls>
        </div>                     
    </div>
</div>
