<div class="player-controls-container">
    <div class="player-actions player-controls-container__player-actions">
        <input class="player-actions__action" type="button" *ngFor="let action of gameController.actions" value={{action.name}} (click)="onAction(action)">
    </div>
    <div class="player-controls player-controls-container__player-controls">
        <button class="button-draw player-controls__button-draw" type="button" (click)="onDraw()">{{GetDrawButtonText()}}</button>
        <button *ngIf="this.gameController.extraCardsCounter" class="button-add-draw player-controls__button-add-draw" type="button" (click)="onAddDraw()">{{GetExtraDrawButtonText()}}</button>
        <button class="button-fight-end player-controls__button-fight-end" type="button" (click)="onEndFight()">End Fight</button>
        <button class="button-turn-end player-controls__button-turn-end" type="button" (click)="onEndTurn()">End Turn</button>
    </div>
</div>