<div class="cards-display-container">
    <div class="display-scores cards-display-container__display-scores">
        <div class="current-score score display-scores__current-score">
            {{gameController.currentScores}}            
        </div>
    </div>
    <div class="cards-display cards-display-container__cards-display">        
        <div *ngFor="let card of gameController.abilityCards" class="cards-display__card-container">
            <app-card-ability [card]="card" class="card-container__card"></app-card-ability>            
            <app-card-ability-shadow [card]="card" [selector]="selector"></app-card-ability-shadow>
        </div>
    </div>
</div>