.wrapper__main {
    display: flex;
    justify-content: center;
}

.main__container {
    box-sizing: border-box;
    position: relative;
    width: 290px;
    background: #F2F2F7;
    border: 1px dashed #9747FF;
    border-radius: 5px;
    margin: 5rem;    
    padding-left: 14px;
    padding-right: 20px;
    padding-top: 24px;
    padding-bottom: 40px;
    font-family: Popping, Verdana, Geneva, Tahoma, sans-serif;
}

.form-container__reg-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.reg-form__row {
    display: flex;
    flex-direction: column;
    width: 256px;    
    gap: 2px;
}

.form-row__label {
    font-family: Popping, Verdana, Geneva, Tahoma, sans-serif;

    height: 15px;
    
    /* caption/normal */
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */
    
    /* grey/normal */
    color: #586870;    
    
    /* Inside auto layout */
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.form-row__label_required:after{
    content: "*";
}

.form-row__text-input {    
    font-family: Popping, Verdana, Geneva, Tahoma, sans-serif;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;

    /* set border, color */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3px 8px 3px 16px;

    width: 256px;
    height: 34px;

    background: #E4F0FF;
    border: 0.5px solid #007AFF;
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.reg-checkbox_padding{
    height: 2rem;
    padding-right: 62px;
}

.reg-checkbox__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.reg-checkbox__box {
    position: absolute;
    right: 26px;
    cursor: pointer;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1rem;    
    height: 31px;
    width: 51px;
}

.reg-checkbox__box:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 1rem;
}

.reg-checkbox__input:focus + .reg-checkbox__box {
    box-shadow: 0px 0px 6px rgba(70, 202, 8, 1);   
}

.reg-checkbox__input:checked + .reg-checkbox__box {
    background-color: rgba(70, 202, 8, 1);    
}

.reg-checkbox__input:checked + .reg-checkbox__box:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.form-row__error{
    font-family: Popping, Verdana, Geneva, Tahoma, sans-serif;

    /* caption/normal */
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    display: flex;
    align-items: center;

    /* red/normal */
    color: #FF3D00;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;

    overflow-x: hidden;
    max-height: 2rem;
}

.form-row__button {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;        
    padding: 0px 8px 0px 16px;
    
    width: 256px;
    height: 34px;
        
    background: #FFFFFF;    
    border: 0.5px solid rgba(209, 208, 206, 1); 
    box-shadow: 0px 4px 6px rgba(63, 65, 68, 0.12);
    border-radius: 8px;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;    

    justify-self: end;
    align-items: center;
    justify-content: center;
}

.form-row__button:hover{
    border: 1px solid #2196F3;    ;
    background-color: #cdcdcd;
}

.form-row__button:active{
    transform: translateY(1px);
}

